body {
  // font-family: ProximaNovaA-Regular;
  // font-family: aerial;
  font-weight: normal;
  font-style: normal;
  // margin: 0 0 360px;
  font-size: 1em;
}

.block {
  padding: 84px 0;
}

#footer {
  height: 360px;
  background: #415464;
  // position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
}

#sellbox {
  background: #ffdf7c;
}

#country-details{
  &.block{
    padding: 30px 0;
  }
}
