<div class="block" id="sellbox">
  <div class="container text-center">
    <h1>{{model.official_name}}</h1>
    <p class="lead">
      Below you will find more information about {{model.official_name}} such as the capital map, dialing prefix, and region.
    </p>
  </div>
</div>
<div class="block" id="country-details">
  <div class="container text-center">
    <p class="text-right">
      <LinkTo @route="countries" @class="btn btn-light">back</LinkTo>
    </p>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Official Name</h5>
        <p class="card-text">{{model.official_name}}</p>
        <hr>
        <div class="row">
         <div class="col-md-6">
           <div class="shadow-sm p-3 mb-2 bg-white rounded text-left">
             <strong>Common Name: &nbsp;</strong>{{model.common_name}}
           </div>
         </div>
         <div class="col-md-6">
           <div class="shadow-sm p-3 mb-2 bg-white rounded text-left">
             <strong>Capital: &nbsp;</strong>{{model.capital}}
           </div>
         </div>
        </div>
        <div class="row">
         <div class="col-md-6">
           <div class="shadow-sm p-3 mb-2 bg-white rounded text-left">
             <strong>Domain: &nbsp;</strong>{{model.domain}}
           </div>
         </div>
         <div class="col-md-6">
           <div class="shadow-sm p-3 mb-2 bg-white rounded text-left">
             <strong>Dialing Prefix: &nbsp;</strong>{{model.dialing_prefix}}
           </div>
         </div>
        </div>
        <div class="row">
         <div class="col-md-6">
           <div class="shadow-sm p-3 mb-2 bg-white rounded text-left">
             <strong>Region: &nbsp;</strong>{{model.region}}
           </div>
         </div>
         <div class="col-md-6">
           <div class="shadow-sm p-3 mb-2 bg-white rounded text-left">
             <strong>Sub Region: &nbsp;</strong>{{model.subregion}}
           </div>
         </div>
        </div>
        <div class="row">
         <div class="col-md-6">
           <div class="shadow-sm p-3 mb-2 bg-white rounded text-left">
             <strong>ISO 3166 Alpha 2: &nbsp;</strong>{{model.iso_3166_alpha_2}}
           </div>
         </div>
         <div class="col-md-6">
           <div class="shadow-sm p-3 mb-2 bg-white rounded text-left">
             <strong>ISO 3166 Alpha 3: &nbsp;</strong>{{model.iso_3166_alpha_3}}
           </div>
         </div>
        </div>


      </div>


      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <iframe src={{encodeURIFormat}}></iframe>
    </div>
  </div>
</div>

{{outlet}}
