<div class="block" id="sellbox">
  <div class="container text-center">
    <h1>Countries API</h1>
    <p class="lead">
      The Countries API holds data about countries, including universally accepted formats, mobile country codes, dialing prefixes, and more.
    </p>
  </div>
</div>

<div class="block">
  <div class="container">
    <table class="table table-striped table-hover table-bordered">
      <caption>List of countries</caption>
      <thead class="bg-secondary text-white">
        <tr>
          <th scope="col" class="py-3">ISO 3</th>
          <th scope="col" class="py-3">Country</th>
          <th scope="col" class="py-3">Capital</th>
          <th scope="col" class="py-3">Region</th>
          <th scope="col" class="py-3">Domain</th>
          <th scope="col" class="py-3">Detail</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |country|}}
          <tr>
            <td>{{country.iso_3166_alpha_3}}</td>
            <td>{{country.official_name}}</td>
            <td>{{country.capital}}</td>
            <td>{{country.region}}</td>
            <td>{{country.domain}}</td>
            <td>
              <LinkTo @route="countries.country" @model={{country}}>more...</LinkTo>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{outlet}}
