<BsNavbar
  @type="dark"
  @backgroundColor="dark"
  @collapsed={{true}}
  @onCollapse={{action (mut collapsed) true}}
  @onExpand={{action (mut collapsed) false}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}CarrierX API Samples{{/link-to}}
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="index">Home</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

{{outlet}}

<div id="footer">
  <div class="block">
    <div class="container">
      <p class="text-center text-white">&copy; Gerry Gutierrez 2019</p>
    </div>
  </div>
</div>
